body
{
     background-color: #222222;
	 color: white;
	 font-family: 'Lato', sans-serif;
	 font-size: 20px;
	 margin: 0 !important;
}

.wrapper
{
	width: 100%;
}

.header
{
	width: 100%;
	padding: 40px 0;
}

.logo
{
	width: 490px;
	font-size: 48px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 700;
}

.nav
{
	width: 100%;
	padding: 15px 0;
	background-color: #E50914;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
	font-weight: 400;
}

.content
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	margin-bottom: 20px;
}

.rectangle
{
	width: 1000px;
	margin: 10px;
	text-align: center;
}

.socials
{
	width: 100%;
	text-align: center;
	background-color: #282828;
}

.socialdivs
{
	width: 1000px;
	margin-left: auto; 
	margin-right: auto;
}

.fb
{
	width: 250px;
	height: 100px;
	float: left;
}

.fb:hover
{
	background-color: #4668b3;
}

.yt
{
	width: 250px;
	height: 100px;
	float: left;
}

.yt:hover
{
	background-color: #d94348;
}

.tw
{
	width: 250px;
	height: 100px;
	float: left;
}

.tw:hover
{
	background-color: #3095d3;
}

.ig
{
	width: 250px;
	height: 100px;
	float: left;
}

.ig:hover
{
	background-color: #8a3ab9;
}

.footer
{
	text-align: center;
	background-color: #000000;
	padding: 16px;
	font-weight: 300;
	font-size: 16px;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 19px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li 
{
	float: left;
	width: 180px;
	height: 40px;
	border-right: 1px solid #800200;
}

ol > li:first-child
{
	border-left: 1px solid #800200;
}

ol > li:hover
{
	background-color: #F83B47;
}

ol > li:hover > a
{
	color: #000000;
}

ol > li > ul 
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul 
{
	display: block;
}

ol > li > ul > li
{
	background-color: #F83B47;
	position: relative;
	z-index: 100;
	border-top: 1px solid #000000;
}

ol > li > ul > li:hover
{
	background-color: #FA5D69;
}

ol > li > ul > li:hover > a
{
	color: #000000;
}

a.sociallink
{
	text-decoration: none;
	color: #ffffff;
	display: block;
	width: 250px;
	height: 100px;
}

.linki
{
	font-weight: 300;
	text-align: center;
	font-style: italic;
	font-size: 18px;
	margin-top: 50px;
}

.linki1
{
	font-weight: 300;
	text-align: center;
	margin-top: 375px;
	font-style: italic;
	font-size: 18px;
}

.autorzy
{
	font-weight: 300;
	text-align: center;
	margin-top: 20px;
	font-style: italic;
	font-size: 18px;
}




